# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Display development environment tools for Data Science
- Show examples of arithmetic expressions in Python
- Convert minutes to hours using a Python expression

## Author 
Ciro Souza